:root {
  --transition-speed: 1.2s;
  --timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* Та самая кривая Make */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: auto;
  background: #ffffff;
  color: #21344C;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  letter-spacing: 4%;
  scroll-behavior: smooth;
}

h2 {
  font-size: 5vw;
  font-weight: 700;
  margin: 0;
}

.slider {
  position: relative;
  z-index: 10;
  height: 530vh;
}

.slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#slide-1 {
  position: fixed;
  /* Фиксируем на экране */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  /* Выше всех остальных слайдов */
  pointer-events: none;
  /* Пропускаем клики, если нужно */
  will-change: transform;
}

/* Уезжает сам */
#slide-2 {
  position: fixed;
  top: 0;
  z-index: 4;
}

/* Ждет под 1-м */
#slide-3 {
  position: fixed;
  top: 0;
  z-index: 3;
  will-change: transform;
}

/* Ждет под 2-м */
#slide-4 {
  position: fixed;
  top: 0;
  z-index: 2;
}

#slide-5 {
  position: fixed;
  top: 0;
  z-index: 1;
}


/* Общий стиль для заголовков на 2-м и 3-м слайдах */
.reveal-text {
  font-size: 5vw;
  color: white;
  text-transform: uppercase;
  text-align: center;
  /* Начальное состояние: текст внизу и прозрачный */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 768px) {
  .reveal-text {
    font-size: 10vw;
  }
}

.reveal-text a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.reveal-text a:hover {
  transition: color 0.3s ease-in-out;
  color: #c49a6c;
}


/* Эффект при активации (когда JS добавил .active) */
.active .reveal-text {
  opacity: 1;
}

/* Видео внутри должно быть фиксированным, чтобы не дергалось при скролле */
/* .video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
} */

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

/* Контейнер, создающий глубину */
.slide-content {
  perspective: 2000px;
  width: 100vw;
  height: 100vh;
  /* Растянем на весь экран для центровки */
  display: flex;
  justify-content: center;

}

.slide-content--5 {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.reveal-text--5 {
  max-width: 835px;
  color: #ffffff;
}

.slide-content--end {
  justify-content: center;
}

/* Фиксированный хедер поверх всего */
.main-header {
  position: fixed;
  z-index: 11000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  background: transparent;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@media (max-width: 1280px) {
  .main-header {
    padding: 15px 40px;
  }
}

@media (max-width: 768px) {
  .main-header {
    padding: 15px 15px;
  }
}

/* Светлая тема (активируется на проектах) */
.main-header.header-light {
  background: rgba(255, 255, 255, 1); /* Белый фон */
  box-shadow: 0 .6px 1.8px rgba(0, 0, 0, .1), 0 3.2px 7.2px rgba(0, 0, 0, .13);
  color: #21344C#000000; /* Черный текст меню */
}

.main-header .static-logo svg{
  transition: fill 0.3s ease-in-out;
}
/* Инверсия логотипа внутри светлого хедера */
.main-header.header-light .static-logo svg {
  fill: #21344C;
  
}

.main-header .static-logo svg:hover {
  fill: #c49a6c;
}

/* Цвет ссылок меню */
.main-header.header-light .nav-link {
  color: #21344C;
  transition: color 0.3s ease-in-out;
}

.main-header.header-light .nav-link:hover {
  color: #c49a6c;
  
}

/* Когда хедер становится светлым, бургер тоже должен чернеть */
.header-light ~ .mobile-burger span,
.header-light .mobile-burger span {
    background-color: #000 !important;
}
/* Хедер уезжает вверх ровно на свою высоту */
.header-hidden {
  transform: translateY(-100%);
  /* Можно добавить легкую тень при уходе, если нужно */
}


.main-nav {
  display: block;
  gap: 50px;
  width: 100%;
  
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.header-logo-place {
  width: calc(30vmin / 4);
  height: calc(30vmin / 4);
}

.header-logo-place svg {
  width: calc(30vmin / 4);
  fill: #ffffff;
}
/* Состояние "На контенте" */
/* .header-dark.main-nav {
  background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}
 */
.header-dark .nav-link {
  color: #21344C;
}

.header-dark .side-image svg {
  fill: #21344C !important;
}

.header-dark.mobile-burger span {
  background: #21344C;
  /* Черный бургер */
}


.header-logo {
  width: calc(30vmin / 4);
}

.menu-list {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}


.nav-link {
  margin: 0;
}

.menu-list a {
  margin: 0;
  pointer-events: auto;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4%;
  /* У каждого пункта будет свой transform, управляемый JS */
  will-change: transform;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 769px) {
  .menu-list a {
    font-size: 14px;
  }
}

.menu-list a:hover {
  color: #c49a6c;
}




/* Когда СКРОЛЛИМ ВВЕРХ (логотип исчезает) */
/* Здесь задержки нет, поэтому он исчезнет мгновенно вместе с началом движения бруска */
body:not(.is-logo-active) .final-logo {
  opacity: 0;
  transition-delay: 0s;
}

body:not(.is-logo-active) .cube {
  opacity: 1;
  transition-delay: 0s;
}

/* Кнопка Бургер */
.mobile-burger {
  display: none;
  /* Скрыт на десктопе */
  position: fixed;
  top: 30px;
  right: 30px;
  width: calc(30vmin / 4);
  height: calc(20vmin / 4);
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 120000;
}

.mobile-burger span {
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .mobile-burger {
    top: calc(((calc(30vmin / 4) - calc(20vmin / 4)) / 2) + 15px);
    right: 15px;
    
    
  }
}



/* Оверлей меню */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #21344C;
  z-index: 11000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  /* Изначально спрятано вверху */
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.mobile-link {
  color: #c49a6c;
  text-decoration: none;
  font-size: 5vw;
  text-transform: uppercase;
  letter-spacing: 4%;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
}

/* СОСТОЯНИЕ: ОТКРЫТО */
.menu-open .mobile-menu {
  transform: translateY(0);
}

.menu-open .mobile-link {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
  /* Задержка появления текста */
}

/* Анимация иконки в крестик */
.menu-open #burger span:nth-child(1) {
  transform: translateY(calc(8.8vmin / 4)) rotate(45deg);
  background: #c49a6c;
}

.menu-open #burger span:nth-child(2) {
  opacity: 0;
}

.menu-open #burger span:nth-child(3) {
  transform: translateY(calc(-8.8vmin / 4)) rotate(-45deg);
  background: #c49a6c;
}

/* Адаптив: Показываем бургер только на узких экранах */
@media (max-width: 768px) {
  .mobile-burger {
    display: flex;
  }

  .main-nav {
    display: none;
  }

  /* Прячем десктопное меню */
}


#hero-cube {
  opacity: 0;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s ease 1s;
  transform-style: preserve-3d;
  will-change: transform;
}

.show-cube #hero-cube {
  opacity: 1;
}

/* ОБНОВЛЕННЫЙ ПЕРЕЛЕТ БРУСКА */
.cube-viewport {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  height: 30vmin;
  width: 30vmin;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 4s ease 0.1s;
  /* Плавное проявление без рывков */
  pointer-events: none;

}

.cube-viewport .side-image svg {
  fill: #fff;
}

.cube-viewport:hover .side-image svg {
  fill: #c49a6c;
  transition: fill 0.5s ease-in-out;
}

body.header-dark .side-image svg {
  fill: #000000;
  /* Становится черным */
}

.show-cube .cube-viewport {
  opacity: 1 !important;
  pointer-events: auto;
}

.logo-box {
  opacity: 1;
  transition: opacity 0.8s ease;
  /* Скорость исчезновения */
}

/* Собранный логотип исчезает чуть позже, чтобы подмена была бесшовной */
.show-cube .logo-box {
  opacity: 0 ;
  transition: opacity 1s ease 1s;
  /* Исчезает, когда куб уже проявился */
  pointer-events: none;
}


/* Сам брусок */
.cube {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 30vmin;
  transform-style: preserve-3d;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  fill: #ffffff !important;
  color: #ffffff !important;
}

.side {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.5s ease;
}


.side-image svg {
  width: 30vmin;
  fill: white;
  transition: fill 0.3s ease-in-out;
}



.side-title {
  font-size: 30vmin;
  font-weight: 700;
  line-height: 30vmin;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

/* Раскладка граней по кругу */
.front {
  transform: rotateX(0deg) translateZ(15vmin);
}

.bottom {
  transform: rotateX(-90deg) translateZ(15vmin);
}

.back {
  transform: rotateX(-180deg) translateZ(15vmin);
}

.top {
  transform: rotateX(-270deg) translateZ(15vmin);
}

.front,
.back {
  height: 100%;
  margin: 0;
}

.bottom,
.top {

  color: transparent !important;

  text-transform: uppercase;
  margin: 0;

  white-space: nowrap;
  -webkit-text-stroke: 3px rgba(255, 255, 255, 0.3);
  letter-spacing: 12px;
  transition: all 0.8s ease;
}

.logo-box {
  position: fixed;
  top: calc(50% - 15vmin);
  left: calc(50% - 15vmin);
  width: 30vmin;
  height: 30vmin;
  transform-style: preserve-3d;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.logo-parti {
  position: absolute;
  /* 2.5 секунды — это даст время рассмотреть полет */
  transition: transform 2.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 2s ease-out;
  /* Обязательно для 3D разлета */
  will-change: transform, opacity;
  opacity: 0;
}

.logo-box.is-assembled .logo-parti {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(0deg) scale(1) !important;
}

.logo-parti--1 {
  width: 13.5vmin;
  top: 0%;
  left: 0.5%;
}

.logo-parti--2 {
  width: 13.5vmin;
  bottom: 54.8%;
  left: 0;
}

.logo-parti--3 {
  width: 5.445vmin;
  top: 0%;
  left: 54.8%;
}

.logo-parti--4 {
  width: 5.445vmin;
  top: 0%;
  right: 0;
  ;
}

.logo-parti--5 {
  width: 6.825vmin;
  top: 54.7%;
  left: 0;
}

.logo-parti--6 {
  width: 6.825vmin;
  bottom: 0;
  left: 0;
}

.logo-parti--7 {
  height: 13.5vmin;
  bottom: 0.3%;
  right: 54.6%;
}

.logo-parti--8 {
  width: 13.5vmin;
  bottom: 0.4%;
  right: 0.4%;
}

.logo-primer {
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: calc(50% - 10vw);
  left: calc(50% - 10vw);
  opacity: 0.2;
}

@media (max-width: 768px) {
  .cube-viewport {
    display: none !important; /* Брусок на мобилках не нужен */
  }
  
  .logo-box {
    opacity: 1 !important; /* Маленький лого в углу виден сразу */
    visibility: visible !important;
  }
}

.content-wrapper {
  position: relative;
  z-index: 100000;
  background: #ffffff;
  will-change: transform;
}

.projects-section {
  padding: 100px 50px 100px 150px;
  /* min-height: 100vh;  */
  /* Секция не может быть меньше экрана */
  display: flex;
  flex-direction: column;
  background: #ffffff;
  /* Ровно после всех слайдов */
}

@media (max-width: 1279px) {
  .projects-section {
    padding: 80px 40px;
  }
}

@media (max-width: 768px) {
  .projects-section {
    padding: 60px 30px;
  }
}

.projects-title {
  margin-bottom: 24px;

  color: #21344C;

}


.filter-simple {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 20px 0px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.filter-btn {
  background: none;
  border-radius: 8px;
  border: 1px solid #21344C;
  color: #21344C;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.filter-btn:hover {
  background: #21344C;
  color: #ffffff;
}

.filter-btn.active {
  background: #21344C;
  color: #ffffff;
}


.projects-container {
  width: calc(100% + 50px);
  padding: 40px 0; /* Отступы сверху и снизу */
  overflow: hidden; /* Чтобы слайды не вылезали за края экрана */
  cursor: grab;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
              transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.projects-container.swiper-ready {
  opacity: 1;
  transform: translateY(0);
}

.projects-container:active {
  cursor: grabbing;
}

/* Сама карточка (слайд) */
.projects-container .swiper-slide {
  width: auto; 
  height: auto;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.project-item {
  width: 100%;
  height: 100%;
  margin: 0 !important; /* Обнуляем старые отступы сетки */
  background: #ffffff;
  
  overflow: hidden;
}

.project-item img {
  width: 100%;
  aspect-ratio: 16 / 9;/* Фиксированная высота для стройности ряда */
  object-fit: cover;
  display: block;
}

/* Скрытое состояние карточки */
.project-item.hide {
  opacity: 0;
  transform: translateY(50px);
  /* Старт: чуть ниже */
  /* Обнуляем размеры, чтобы сетка "стянулась" */
  max-width: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  pointer-events: none;
  visibility: hidden;
}

.project-info h3 {
  margin: 24px 0 4px 0;
}

.project-info p {
  margin: 0;
}

.news-section {
  padding: 0 96px 0 150px;
  display: flex;
  flex-direction: column;
}

.news-title {
  margin-bottom: 96px;
}

.news-container, 
.news-container .swiper-wrapper, 
.news-container .swiper-slide {
    scroll-snap-type: none !important;
    scroll-snap-align: none !important;
    -webkit-scroll-snap-type: none !important;
    transition-timing-function: linear !important; /* Делаем инерцию ровной */
}


.news-container.swiper {
  width: calc(100% + 96px);
  display: block; /* Только блок! Никаких flex или grid здесь */
  overflow: hidden;
  position: relative;
  touch-action: pan-y; /* Разрешаем только вертикальный скролл страницы */
  scroll-snap-type: none !important; /* ВЫКЛЮЧАЕМ нативный магнит */
}

.news-container .swiper-wrapper {
  display: flex !important; /* Swiper сам это ставит, но подтвердим */
  flex-direction: row !important;
  scroll-snap-type: none !important;
}

.news-container .swiper-slide {
  flex-shrink: 0 !important;
  height: auto;
  scroll-snap-type: none !important; 
    overscroll-behavior-x: none; 
}

.news-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
   /* Запрещаем браузерный Drag-эффект для ссылок */
   -webkit-user-drag: none; 
   user-select: none;
}



.news-image {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  pointer-events: none; 
    -webkit-user-drag: none;
}

.news-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.news-content .cats {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  
  color: #536e83;
}

.news-content .cats-sep {
  display: block;
  width: 2px;
  height: 24px;
  background-color: #536e83;
  margin-inline: 24px;
}

.news-subtitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #05152a;
}

.news-content p {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #05152a;
}

.news-content .readmore {
 
  padding: 10px 10px 8px;
  display: inline-block;
  align-self: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 0.9;
  text-transform: capitalize;
  color: #05152a;
  border: 1px solid  #c49a6c;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}



.news-link:hover .news-content .readmore {
  height: 36px;
  color: #ffffff;
  background-color: #c49a6c;
  border: 1px solid #c49a6c;
}

.accordion-section {
  width: 100%;
  height: 100vh;
  /* Высота блока */
  padding: 50px 0;
  background: #ffffff;
}

.accordion-title {
  margin-left: 150px;
  margin-bottom: 50px;
  font-size: 5vw;
}

.accordion-container {
  display: flex;
  width: 100%;
  height: 80%;
  gap: 1px;
  /* Зазор между слайдами */
}

@media (max-width: 768px) {
  .accordion-container {
    flex-direction: column;
  }
}

.acc-item {
  position: relative;
  flex: 1;
  /* Все по 20% (1 из 5) */
  overflow: hidden;
  cursor: pointer;
  /* Плавность расширения (важно для "дорогого" вида) */
  transition: flex 2s cubic-bezier(0.19, 1, 0.22, 1);
}

/* ЭФФЕКТ РАСШИРЕНИЯ */
.accordion-container:hover .acc-item {
  flex: 0.4;
  /* Все сжимаются до минимума при наведении на контейнер */
}

.accordion-container .acc-item:hover {
  flex: 3.4;
  /* Тот, на который навели, забирает ~60% ширины */
}

/* Стили контента */
.acc-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
  transition: filter 0.5s ease;
}

.acc-item:hover img {
  filter: brightness(1);
}

.acc-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  white-space: nowrap;
  /* Чтобы текст не прыгал при сжатии */
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease 0.2s;
}

.acc-item:hover .acc-content {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  background: #21344C;
  padding: 100px 50px;
}

.footer__menu-list {
  display: flex;
  gap: 40px;
  padding: 0;
}

@media (max-width: 768px) {
  .footer__menu-list {
    flex-direction: column;
  }
}

.footer__menu-link {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.footer__menu-link:hover {
  color: #c49a6c;
}